In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('fatal-police-shootings-data.csv')

In [14]:
grouped = df.groupby(['race', 'signs_of_mental_illness']).size().reset_index(name='counts')
print(grouped)

   race  signs_of_mental_illness  counts
0     A                    False      69
1     A                     True      24
2     B                    False    1114
3     B                     True     184
4     H                    False     745
5     H                     True     157
6     N                    False      64
7     N                     True      14
8     O                    False      37
9     O                     True      11
10    W                    False    1763
11    W                     True     713

In [15]:
grouped_df = df.groupby(['race', 'signs_of_mental_illness']).size().reset_index(name='counts')

def odsetek(x):
    if x == True:  # Assuming 'signs_of_mental_illness' is a boolean column
        return 1
    else:
        return 0

# Calculate the percentage of cases with mental illness
grouped_df['odsetek'] = grouped_df['counts'] / grouped_df['counts'].sum()

# Apply the function to create a new column
grouped_df['odsetek_flag'] = grouped_df['signs_of_mental_illness'].apply(odsetek)

grouped_df

   race  signs_of_mental_illness  counts   odsetek  odsetek_flag
0     A                    False      69  0.014096             0
1     A                     True      24  0.004903             1
2     B                    False    1114  0.227579             0
3     B                     True     184  0.037589             1
4     H                    False     745  0.152196             0
5     H                     True     157  0.032074             1
6     N                    False      64  0.013075             0
7     N                     True      14  0.002860             1
8     O                    False      37  0.007559             0
9     O                     True      11  0.002247             1
10    W                    False    1763  0.360163             0
11    W                     True     713  0.145659             1

In [17]:
import matplotlib.pyplot as plt

ax = df['day'].value_counts().plot(kind='bar', color='skyblue')
ax.set_title('Zliczenie interwencji według dnia tygodnia')
ax.set_xlabel('Dzień tygodnia')
ax.set_ylabel('Liczba interwencji')
plt.show()

ModuleNotFoundError: No module named 'matplotlib.pyplot'; 'matplotlib' is not a package